a.github-link:before {
    background: url("/plugin_assets/redmine_github_links/images/github.png") no-repeat;
    content: "\A0";
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: baseline;
}
